body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  object-fit: contain;
  height: 1.5rem;
  width: 1.5rem;
}

.all-listings-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.all-listings-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.all-listings-table th,
.all-listings-table td {
  padding: 12px 15px;
  text-align: center;
}

.all-listings-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .all-listings-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.all-listings-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.all-listings-table tbody tr:hover {
  font-weight: bold;
  color: #009879;
  background-color: #f3f3f3;
  cursor: pointer;
}
