:root {
  --theme-green-color: #379683;
  --theme-beige-color: #edf5e1;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.navMetrics {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  background-color: white;
}

.metrics p {
  margin: 0.5rem 0rem;
  color: black;
}

.navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-green-color);
  padding: 0.2rem;
}
/* #2271b1; */
.navTitle h1 {
  color: var(--theme-beige-color);
}

/* nav {
  border-bottom: 2px black solid;
} */

/* .listing-top {
  grid-column: 1 / 4;
  text-align: center;
} */

.allListingsContainer {
  margin: 1.5rem;
}

.filtersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  padding: 1rem;
}

.filters select,
input {
  width: 10rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.paginationNumbers {
  padding: 2px;
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paginationNumbers:hover {
  color: var(--theme-green-color);
}

.allListingsTableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allListingsTable {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.allListingsTable thead tr {
  background-color: var(--theme-green-color);
  color: var(--theme-beige-color);
  text-align: left;
}

.allListingsTable th,
td {
  padding: 12px 15px;
  text-align: center;
}

.allListingsTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.allListingsTable tbody tr:last-of-type {
  border-bottom: 2px solid var(--theme-green-color);
}

.allListingsTable tbody tr:hover {
  font-weight: bold;
  color: var(--theme-green-color);
  background-color: #f3f3f3;
  cursor: pointer;
}

.symbolLogo {
  object-fit: contain;
  height: 3rem;
  width: 3rem;
}

/* .all-listings-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

/* .button {
  background-color: red;
} */

.listingContainer {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 1rem;
}

/* @media (max-width: 900px) {
  .listingContainer {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
} */

.listingLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listingRightContainer {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listingChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #dddddd;
  padding: 1rem;
  margin: 1rem 5rem 0 0;
  width: 900px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.listingButtons {
  width: 750px;
}

.listingButtons button {
  width: 2.75rem;
  margin: 0rem 0.15rem;
  padding: 0;
}

.selectedButton {
  background-color: rgb(142, 145, 158);
}

.chart {
  border-bottom: 1px solid #dddddd;
}

.description {
  padding: 0 1.5rem;
}

.description p {
  text-indent: 50px;
}

.listingTables {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.listingTables thead tr {
  background-color: var(--theme-green-color);
  color: var(--theme-beige-color);
  text-align: left;
}

.listingTables th,
td {
  padding: 12px 15px;
  text-align: center;
}

.listingTables tbody tr {
  border-bottom: 1px solid #dddddd;
}

.listingTables tbody tr:last-of-type {
  border-bottom: 2px solid var(--theme-green-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 0.8rem;
}
